@charset "UTF-8";
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.section-padding {
  padding: 6em 2em;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  scroll-margin-top: 6em;
}

.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav.scrolled .navbar__brand,
nav.scrolled .navbar__item {
  color: black; /* wszystkie elementy na czarno */
}

nav.scrolled .navbar__item::before {
  background-color: #000;
}

nav.scrolled .navbar__burger span {
  background: black; /* burger też na czarno */
}

section {
  scroll-margin-top: 60px;
}

.nav.mobile-active .navbar__brand,
.nav.mobile-active .navbar__item,
.nav.mobile-active .navbar__burger span {
  color: black;
  background-color: black; /* burger też na czarno */
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: 0.3s;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  padding: 1.5em;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar__burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 22px;
  z-index: 1000;
}
.navbar__burger-bar {
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  transition: 0.3s;
}
.navbar__burger .burger-black {
  background-color: black;
}
.navbar__brand {
  font-family: "Lora", serif;
  font-size: 2.6rem;
  margin-right: auto;
}
.navbar__item {
  position: relative;
  font-size: 2rem;
  margin-left: 2em;
  display: none;
}
.navbar__item::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
  transform: scaleX(0);
}
.navbar__item:hover::before {
  transform: scaleX(1);
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
  transform: translateX(-102%);
  transition: 0.3s;
}
.nav-mobile-items {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
.nav-mobile-item {
  position: relative;
  text-decoration: none;
  color: #000;
  margin-top: 2em;
  font-size: 2.8rem;
}
.nav-mobile-item::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: 0.3s;
  transform: translateX(-50%);
}
.nav-mobile-item:hover::before {
  width: 100%;
}

.active {
  transform: translateX(0);
}

.header__img {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/livingroom-1032733_640.jpg");
  background-size: cover;
  background-position: center;
}
.header__img-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__img-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: wrap;
}
.header__img-content-title {
  font-size: 2.4rem;
}
.header__img-content-text {
  margin-top: 1em;
  font-size: 1.6rem;
  align-self: flex-start;
}
.header__img-content-button {
  margin-top: 1em;
  padding: 1em 2em;
  background: none;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
}
.header__img-content-button:hover {
  background-color: #fff;
  color: #000;
}

.team {
  background-color: #fff;
}
.team__boxes {
  display: flex;
  flex-direction: column;
}
.team__boxes-text-boxes {
  margin-top: 2em;
}
.team__box-picture {
  width: 100%;
}
.team__box-img {
  width: 100%;
}
.team__box-text {
  width: 100%;
  margin-top: 2em;
}
.team__box-title {
  font-size: 2.4rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.design {
  background-color: #fff;
}
.design__cards {
  display: flex;
  flex-direction: column;
}
.design__card {
  margin: 1em 0;
}
.design__card-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.design__card-info {
  padding: 2em 0;
}
.design__card-info-title {
  margin: 1em 0;
}

.section__hero-img {
  position: relative;
  padding: 7em;
  background-image: url("../img/herosmall.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.section__hero-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.section__hero-img-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 300;
  font-size: 1.4rem;
  white-space: nowrap;
}
.section__hero-img-title:before, .section__hero-img-title:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50%;
}
.section__hero-img-title:before {
  left: -10px;
  top: -3px;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.section__hero-img-title:after {
  right: -10px;
  bottom: -10px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.offers {
  overflow: hidden;
  background-color: #fff;
}
.offers__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.offers__card {
  box-shadow: 0 5px 13px 0 rgba(66, 68, 90, 0.5);
  padding: 3em 5em;
  margin-top: 2em;
  border-radius: 10px;
  transition: 0.3s;
}
.offers__card:hover {
  transform: scale(1.05);
}
.offers__card-title {
  font-size: 2.2rem;
}
.offers__card-price {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 1em;
}
.offers__card-items {
  list-style-type: none;
}
.offers__card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3em;
}
.offers__card-item--disabled {
  color: gray;
}
.offers__card-button {
  margin-top: 2em;
  padding: 1em 2em;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}
.offers__card-button:hover {
  background-color: #000;
  color: #fff;
}

.contact {
  background-color: #fff;
}
.contact input,
.contact textarea {
  padding: 0.5em 0em;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
.contact input:focus,
.contact textarea:focus {
  border-bottom: 2px solid #000;
  outline: none;
}
.contact textarea {
  resize: vertical;
  min-height: 100px;
}
.contact__form-box {
  display: flex;
  flex-direction: column;
}
.contact__form-box-btn {
  background: none;
  border: 1px solid #000;
  margin-top: 2em;
  padding: 1em 4em;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-start;
  transition: 0.3s;
  color: #000;
}
.contact__form-box-btn:hover {
  background-color: #000;
  color: #fff;
}
.contact__form-box-text {
  display: flex;
  flex-direction: column;
}
.contact__form-box-text-elements {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact__form-box-text-label {
  margin: 2em 0;
}
.contact__form-box-text-input {
  margin-bottom: 1em;
}
.contact__form-label {
  margin: 2em 0;
}

.newsletter {
  background-color: #000;
}
.newsletter__box {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.newsletter__box-title {
  font-size: 2.2rem;
  margin-bottom: 0em;
}
.newsletter__box-input {
  padding: 0.5em;
  border: none;
  font-family: "Montserrat", serif;
  background: white;
  margin: 1em 0;
}
.newsletter__box-btn {
  background: #000;
  border: 1px solid #fff;
  padding: 1em 4em;
  margin-top: 0.5em;
  align-self: center;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}
.newsletter__box-btn:hover {
  background: #fff;
  color: #000;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  padding: 2em;
  background-color: rgb(0, 0, 0);
}

@media (min-width: 350px) {
  .header__img-content-title {
    white-space: nowrap;
    font-size: 2.4rem;
  }
  .header__img-content-text {
    align-self: center;
  }
}
@media (min-width: 768px) {
  .team__boxes {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .team__boxes-text-boxes {
    width: 80%;
  }
  .team__box-img {
    width: 80%;
  }
  .team__box-title {
    font-size: 3.2rem;
  }
  .design__cards {
    display: flex;
    flex-direction: column;
  }
  .design__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 1em;
    height: 430px;
  }
  .design__card-img {
    width: 45%;
  }
  .design__card-img--right {
    order: 1;
  }
  .design__card-info {
    padding: 2em;
    width: 55%;
  }
  .design__card-info--right {
    text-align: right;
  }
  .design__card-info-title {
    font-size: 2.4rem;
    margin: 1em 0;
  }
  .section__hero-img {
    padding: 10em;
    background-image: url("../img/herobig.jpg");
    background-attachment: fixed;
  }
  .section__hero-img-title {
    font-size: 2.8rem;
  }
  .offers__cards {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .offers__card {
    margin: 1em 2em;
    padding: 2em 0;
    width: 100%;
  }
  .offers__card-title {
    font-size: 3.2rem;
  }
  .contact__form-box-text {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .contact__form-box-text-elements {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contact__form-box-text-elements--first {
    margin-right: 2em;
  }
  .newsletter__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .newsletter__box-title {
    margin: 0;
    font-size: 4.4rem;
  }
  .newsletter__box-input {
    border-radius: 8px;
    margin: 0 3em;
    padding: 1em 1em;
  }
  .newsletter__box-btn {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .header__img {
    background-image: url("../img/livingroom-1032733_1280.jpg");
  }
  .navbar__burger {
    display: none;
  }
  .navbar__brand {
    font-size: 3.2rem;
  }
  .navbar__item {
    display: block;
  }
  .header__img-content-title {
    font-size: 3.6rem;
  }
  .offers__cards {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .offers__card {
    margin: 0 2em;
    padding: 5em 0;
    width: 100%;
  }
  .offers__card:nth-child(2) {
    transform: scale(1.1);
  }
  .offers__card:nth-child(2):hover {
    transform: scale(1.15);
  }
  .offers__card-title {
    font-size: 3.2rem;
  }
  .offers__cards > .offers__card:nth-child(2) > .offers__card-button {
    background-color: #000;
    color: #fff;
  }
}/*# sourceMappingURL=main.css.map */