.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}

.section-padding {
	padding: 6em 2em;
}

.section-heading {
    position: relative;
    margin-bottom: 2em;
	font-size: 4rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}
